<div id="<%= dom_id stonk %>">
  <p>
    <strong>Stock name:</strong>
    <%= stonk.stock_name %>
  </p>

  <p>
    <strong>Stock abbreviation:</strong>
    <%= stonk.stock_abbreviation %>
  </p>

  <p>
    <strong>Stock type:</strong>
    <%= stonk.stock_type %>
  </p>

  <p>
    <strong>Current price:</strong>
    <%= stonk.current_price %>
  </p>

  <p>
    <strong>Bought price:</strong>
    <%= stonk.bought_price %>
  </p>

</div>
