<div id="<%= dom_id user %>">
  <p>
    <strong>User name:</strong>
    <%= user.user_name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.user_password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.user_email %>
  </p>

  <p>
    <strong>First Name:</strong>
    <%= user.user_firstname %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= user.user_lastname %>
  </p>

</div>
